<h1>Bienvenido a nuestrosprecios - <%= @user.name %></h1>
<p>
  Te has registrado con exito a NuestrosPrecios
  <br/>
  Tu nombre de usuario es: <%= @user.nickname %>
  <br/>
  <% if @user.user_type_id == 3%>
  Tu password es: <%= Authorization.find_by_user_id(@user.id).uid %>
  <% end %>
</p>