<ul class="polaroideffect">
  <% Company.all.each do |company| %>
    <%= link_to(company) do %>
      <li>
        <% if !company.image_url(:thumb).to_s.blank? %>
          <%= image_tag company.image_url(:thumb).to_s %>
        <% end %>
        <br>
        <%= company.name %>
      </li>
    <% end %>
  <% end %>
</ul>