<h1 id="search-form-h1">NuestrosPrecio$</h1>
<form id="search-form">
	<input type="text" class="search-query" placeholder="Buscar">
	<%= image_tag("search.png", :alt => "Buscar")%>
</form>
<div id="polar-content">
	<%= render 'polar' %>
</div>