<div id="reg_form" class="bg_form">
  <h1>Listado de empresas</h1>

  <table>
    <tr>
      <th>Nombre</th>
    </tr>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
      </tr>
    <% end %>
  </table>
  <hr>
  <% if can? :create, Company %>
    <%= link_to 'Nueva empresa', new_company_path %>
  <% end %>
</div>