$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 80%;
  margin-top: 45px;
  margin-left: 50px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* Forms */

.bg_form{
  margin:40px 5px 15px 50px;
  padding:20px 5px 20px 80px;
  background-color: #ccc;
  border-radius: 15px;
}

.bg_position{
  position: relative;
  left: 20%;

}
