#header_np{
	width: 100%;
  background-image: linear-gradient(top, rgba(6,145,171,0) 0%, rgba(6,145,171,0) 25%,  rgba(6,145,171,0.8) 35%, rgba(6,145,171,1) 100%);
  background-image: -webkit-linear-gradient(top, rgba(6,145,171,0) 0%, rgba(6,145,171,0) 25%,  rgba(6,145,171,0.8) 35%, rgba(6,145,171,1) 100%);
  background-image: -moz-linear-gradient(top, rgba(6,145,171,0) 0%, rgba(6,145,171,0) 25%,  rgba(6,145,171,0.8) 35%, rgba(6,145,171,1) 100%);
  background-image: -o-linear-gradient(top, rgba(6,145,171,0) 0%, rgba(6,145,171,0) 25%,  rgba(6,145,171,0.8) 35%, rgba(6,145,171,1) 100%);
  background-image: -ms-linear-gradient(top, rgba(6,145,171,0) 0%, rgba(6,145,171,0) 25%,  rgba(6,145,171,0.8) 35%, rgba(6,145,171,1) 100%);
}