#search-form{
  width: 80%;
  margin: 1em 15%;
}

#search-form>input{
  width: 70%;
  height: 40px;
  font-size: 22px;
  border-radius: 15px;
  border-color: #1b9ab2;
  border-style:solid;
  border-width:2px;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.075) inset;
}

#search-form-h1{
  margin-top: 2%;
	font-size: 60px;
	font-family: berlinSans;
}