.polaroideffect{
  margin-top: 5%;
}

.polaroideffect li{
  width: 120px;
  height: 130px;

  background-color: rgba(153, 188, 218, 0.6);
  position: relative;
  float:left;
  margin: 2%;

  text-align: center;
  list-style-type: none;

  border-radius: 20px;
  border-color: #076B7F;
  border-style:solid;
  border-width:1px;

  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
}

.polaroideffect li:hover {
  width: 200px;
  height: 200px;
  font-size: 20px;
}

.polaroideffect li img{
  border-radius: 10px;
  margin-top: 10%;
  height: 75%;
  width: 80%;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
}