.polaroideffect{
  margin-top: 3%;
}

.polaroideffect li{
  width:  120px;
  height: 120px;

  background-color: rgba(153, 188, 218, 0.6);
  position: relative;
  float:left;
  margin: 2% 3%;

  text-align: center;
  list-style-type: none;

  border-radius: 20px;
  border-color: #076B7F;
  border-style:solid;
  border-width:1px;

  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.polaroideffect li img{
  border-radius: 10px;
  margin-top: 10%;
  height: 75%;
  width: 80%;
}

/*.polaroideffect li:hover {
  width: 150px;
  height: 150px;
  font-size: 20px;
}*/