ul li{
  font-family: 'berlinSans'
  font-weight: normal;;

  margin-top: 40px;
  width: 180px;
  height: 150px;

  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);

  background-color: rgba(153, 188, 218, 0.6);
  position: relative;
  float:left;
  margin-right: 40px;

  text-align: center;
  list-style-type: none;

  border-radius: 20px;
  border-color: #076B7F;
  border-style:solid;
  border-width:1px;

  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
}

ul li img{
  margin-top: 10px;
  height: 150px;
  width: 150px;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
}

ul li:hover {
  width: 200px;
  height: 200px;
}
ul li img:hover{
  width:170px;
  height: 170px;
}