// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reg_form{
	width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: auto;
}

.text_field_form{
	position: relative;
	left: 4%;
	width: 88%;
}

.label_form{
	position: relative;
	left: 8%;
}

.btn_form{
	position: relative;
	margin-top: 5%;
	left: 8%;
}